{% extends "base.html" %}

{% block content %}
<div class="container-sm">
<form action="" method="post">
    {{ form.hidden_tag() }}
    <div class="form-group">
        <legend class="border-bottom mb-4">Build a New Server</legend>
    </div>
<div class="form-group">
        {{ form.name.label(class="form-control-label")}}
        {{ form.name(class="form-control form-control-sm") }}
    </div>
<br>
<div class="form-group d-grid gap-2 col-6 mx-auto">
        {{ form.submit(class="btn btn-primary btn-sm") }}
    </div>
</form>
</div>


{% endblock %}