<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }} - Server Builder</title>
</head>

<body>
    <h2>Build a New Server</h2>
    <form action="" metho="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.name }}
        </p>
        <p>
            {{ form.submit() }}
        </p>
    </form>
</body>

</html>